{% extends 'layouts/base.html' %}

{% block title %} Transactions {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

{% load static %}

{% endblock stylesheets %}

{% block content %}

<div class="pt-5">
    <div class="container">
        <h1>Transaction List</h1>
        <div class="alert alert-primary" role="alert">
            <i class="fa fa-info-circle mr-1"></i>
            This menu is used to display the transaction data.
        </div>

        <!-- blok untuk menampilkan notifikasi pesan sukses -->
        <div>
            {% if messages %}

            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message | safe }}
            </div>
            {% endfor %}

            {% endif %}
        </div>

        <br>

        <!-- <input type="text" name="daterange" value="01/01/2015 - 01/31/2015" /> -->

        <form method="get" action="{% url 'transaction.index' %}">
            <div class="row">
                <div class="col-3">
                    <div class="form-group">
                        <label for="start_date">Start Date</label>
                        <input type="date" name="start_date" class="form-control" id="start_date" value="{{ start_date|date:'Y-m-d' }}">
                    </div>
                </div>

                <div class="col-3">
                    <div class="form-group">
                        <label for="end_date">End Date</label>
                        <input type="date" name="end_date" class="form-control" id="end_date" value="{{ end_date|date:'Y-m-d' }}">
                    </div>
                </div>

                <div class="col-3 my-auto">
                    <button type="submit" class="btn btn-primary">Filter <i class="fa fa-filter"></i></button>
                </div>
            </div>
        </form>

        <table class="table table-bordered table-striped" id="datatable">
            <thead>
                <tr>
                    <th width="5%" class="text-center">ID</th>
                    {% if request.user.employee.role == 'superadmin' %}
                        <th class="text-center">Outlet</th>
                    {% endif %}
                    <th class="text-center">Date</th>
                    <th class="text-center">Item Code</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Transaction Type</th>
                    <th class="text-center">In</th>
                    <th class="text-center">Out</th>
                    <!-- <th class="text-center">Stock</th> -->
                </tr>
            </thead>
            <tbody>
                <!-- daftar task-->
                {% if transactions %}
                {% for transaction in transactions %}
                <tr>
                    <td class="text-center">{{ forloop.counter }}</td>
                    {% if request.user.employee.role == 'superadmin' %}
                    <td>
                        {% if transaction.type == 'purchase' %}
                            {{ transaction.purchase.outlet }}
                        {% else %}
                            {{ transaction.sales.outlet }}
                        {% endif %}
                    </td>
                    {% endif %}
                    <td class="text-center">{{ transaction.created_at|date:"d F Y" }}</td>
                    {% if transaction.type == 'purchase' %}
                        <td>{{ transaction.purchase.item.code }}</td>
                    {% else %}
                        <td>{{ transaction.sales.item.code }}</td>
                    {% endif %}
                    {% if transaction.type == 'purchase' %}
                        <td>{{ transaction.purchase.item.name }}</td>
                    {% else %}
                        <td>{{ transaction.sales.item.name }}</td>
                    {% endif %}
                    {% if transaction.type == 'purchase' %}
                        <td class="text-success">Pembelian</td>
                    {% else %}
                        <td class="text-danger">Penjualan</td>
                    {% endif %}
                    <!-- Masuk -->
                    {% if transaction.type == 'purchase' %}
                        <td>{{ transaction.purchase.amount }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    <!-- Keluar -->
                    {% if transaction.type == 'purchase' %}
                        <td>-</td>
                    {% else %}
                        <td>{{ transaction.sales.amount }}</td>
                    {% endif %}
                    <!-- <td>{{ transaction.stock }}</td> -->
                </tr>
                {% endfor %}
                {% else %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

{% load static %}

<script src="{% static '/assets/vendor/chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static '/assets/vendor/chart.js/dist/Chart.extension.js' %}"></script>

<script>
    let table = new DataTable('#datatable');
    $('input[name="daterange"]').daterangepicker();
</script>

{% endblock javascripts %}